textarea, button, div, p {
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #444;
  background-color: #333;
  display: block;
  font-size: 16px;
  color: #f8f8f8;
}

textarea {
  height: 20%;
  resize: none;
}

button {
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  background-color: #444;
  color: #f8f8f8;
}

button:active {
  border: 2px solid #333;
  background-color: #f8f8f8;
  color: #333;
}

button:disabled {
  border: 2px solid #333;
  background-color: #888;
  color: #f8f8f8;
}

p {
  text-align: center;
  color: #f8f8f8;
}
